ListenAddress                       0.0.0.0
Port                                22
PermitRootLogin                     prohibit-password
PasswordAuthentication              no
PubkeyAuthentication                yes
AuthorizedKeysFile                  /root/.ssh/authorized_keys
UsePAM                              yes
